<!doctype html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>{% block titulo_cabecera %}{% endblock %}python1</title>
    <!--<title>Top navbar example for Bootstrap</title>-->


    <!-- Bootstrap core CSS
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
<!--    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    &lt;!&ndash; Custom styles for this template &ndash;&gt;
    <link href="{% static 'navbar-top.css' %}" rel="stylesheet">-->
      {% include "head_css.html" %}

  </head>

  <body>

{% include "navbar.html" %}

    <main role="main" class="container">
<!--      <div class="jumbotron">
        <h1>Navbar example</h1>
        <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
        <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>
      </div>-->
        {% block jumbotron %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </main>

<!--    &lt;!&ndash; Bootstrap core JavaScript
    ================================================== &ndash;&gt;
    &lt;!&ndash; Placed at the end of the document so the pages load faster &ndash;&gt;
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
   &lt;!&ndash;
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  &ndash;&gt;
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>-->
{% include "uso_js.html" %}
  </body>
</html>
