{% extends "base.html" %}
{% load crispy_forms_tags %}

{{ el_titulo }}<br>
<hr>
{% block content %}
<form method="POST" action="">{% csrf_token %}
    {{ el_contacto|crispy }}
    <input class="btn btn-primary" type="submit" value="Enviar">
</form>
{% endblock %}
