{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block titulo_cabecera %}Mi primera APP en Django | {% endblock %}
        {% block jumbotron %}

      <div class="jumbotron">
          <div class="row">
              <div class="col-sm-6">
        <h1>Programcación web con Python, utilizando el framework Django 1.11</h1>
          <p class="lead">El objetivo de este curso es entrega a los estudiantes las bases en el desarrollo de aplicaciones web utilizando el lenguaje de programacipon de nivel superior Python 3 y el framework de desarrollo Django en su versión LTS 1.11</p>
        <p class="lead">Como motor de base de datos se ha utilizado PostgreSQL versión 9.6 y como IDE de desarrollo PyCharm.</p>
        <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">Unirse al curso &raquo;</a>
      </div>
              <div class="col-sm-6" style="background-color:black;height:300px:"</div>
          </div>
      </div>
        {% endblock %}
{% block content %}
{{ el_titulo }}<br>
<hr>

{% if el_formulario %}
<div class="row">
    <div class="col-sm-6 col-md-4">
<form method="POST" action="">{% csrf_token %}
    <!--{{ el_formulario.as_p }}-->
        {{ el_formulario|crispy }}
    <input class="btn btn-primary" type="submit" value="Guardar">
</form>
    </div>
</div>
{% endif %}
{% endblock %}

